* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@import './base/fonts';
@import './utils/utils';
@import '../components/HeaderSection/HeaderSection.scss';
@import '../components/HeaderNavBar/HeaderNavBar.scss';
@import '../components/Button/Button.scss';
@import '../components/PaginationBullet/PaginationBullet.scss';
@import '../components/Welcome/Welcome.scss';
@import '../components/GenericSwiper/spinner_wrapper';
@import '../components/GenericSwiper/generic_spinner';
@import '../components/Studio/Studio.scss';
