// COLORS
$white: #fff;
$white: #fff;
$deep-black: #000;
$black: #3c3c3b;
$black-light: #464657;
$beige: #fff5ed;
$orange-medium: #f49e7f;
$vh-green: #6db3a6;
$vh-gray: #344054;
$vh-gray-600: #475467;
$grey-dark: #716f6f;
$grey-medium: #ecebf0;
$grey-light: #f9f8f8;
$grey-very-light: #e3e3e3;
$blue-dark-medium: #3a3d47;
$light-gray: #f2f2f2;

$vh-primary-green-25: #f2f9f5;
$vh-primary-green-50: #d3eddf;
$vh-primary-green-100: #b0dec6;
$vh-primary-green-200: #b0dec6;
$vh-primary-green-300: #6ac093;
$vh-primary-green-400: #47b17a;
$vh-primary-green-500: #24a360;
$vh-primary-green-600: #1e8851;
$vh-primary-green-700: #186f41;
$vh-primary-green-800: #135432;
$vh-primary-green-900: #0d3b23;

$vh-secondary-gray-700: #454c5a;
$vh-warm-gray-300: #e1e0d9;

$vh-secondary-teal-25: #f7fbfb;
$vh-secondary-teal-50: #d9e9ec;
$vh-secondary-teal-100: #bad7dd;
$vh-secondary-teal-200: #9cc6ce;
$vh-secondary-teal-300: #7db4be;
$vh-secondary-teal-400: #5fa3af;
$vh-secondary-teal-500: #4091a0;
$vh-secondary-teal-600: #367a86;
$vh-secondary-teal-700: #2c636d;
$vh-secondary-teal-800: #214b53;
$vh-secondary-teal-900: #17343a;

$vh-secondary-gray-200: #b0b5c0;
$vh-secondary-gray-300: #979eac;
$vh-secondary-gray-500: #667085;
$vh-secondary-gray-600: #565e70;
$vh-secondary-gray-700: #454c5a;
$vh-secondary-gray-800: #353a45;
$vh-secondary-gray-900: #252830;

$b2c-gray-900: #101828;

$color-primary: #00b96b;
$color-secondary: #b9004e;
