.carousel-container {
  overflow: hidden;
  outline: none; /* Remove the default focus outline on the container */
}

.slick-slide {
  margin: 0 35px;
}

.mouse-tracker {
  position: absolute;
  top: 0;
  width: 2px; /* Adjust the width as needed */
  height: 100%;
  background-color: red; /* Adjust the color as needed */
  opacity: 0.5; /* Adjust the opacity as needed */
}
