.studio-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;

  .three-d {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 880px;

    span {
      font-weight: 300px;
      font-size: 139px;
      text-transform: uppercase;
    }
  }
}
